*{
   margin: 0;
   padding: 0;
   list-style: 0;
   text-decoration: 0;
}





header {
	background-color: black;
  width: 100%;
  height: 120px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
  
h1 {
 font-family: 'Anton', sans-serif;
 font-size: 80px;
 color: white;
 line-height: 107px;
}
 h2 {
 	font-family: 'Open Sans', sans-serif;
 	font-weight: lighter;
 	position: relative;
 	top: -18px;
 	font-size: 12px;
 	right: 55px;
  color: white;
 }
 h1::first-letter {
 	color: #C32F27;

 }

img {
  width: 10vw;

}



 nav {
  background-color: #D87F47;
  width: 100%;
  height: 30px;
 }
  div {
  	display: flex;
  	flex-direction: row;
  	justify-content: space-around;
     padding: 7px;
 }

  #allMovies {
    background-color: #D87F47;
    display: flex;
    } 

  .classic {
    background-color: transparent;
    border: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    color: white;
    cursor: pointer;
  } 

  .drama {
    background-color: transparent;
    border: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    color: white;
    cursor: pointer;
  }

   .scifi {
     background-color: transparent;
    border: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    color: white;
    cursor: pointer;
   }
 .Home {
  border: solid white 18px;
  width: 50px;

}  

.home {
   background-color: transparent;
    border: none;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
  #Classic {
    background-color: yellow;
  }


  #Drama {
    background-color: #44355B;
  } 

.arrow {
  background-color: transparent;
  border: none;

    }

.arr {
  width: 40px;
}

.slide {
  background-color: transparent;
  border: none;
  margin: 12px;
}



